@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Karla:wght@500&family=Libre+Franklin&family=Merriweather:wght@900&display=swap');
:root{
    --primary-color: #072ac8;
    --secondary-color: #a2d6f9;
    --accent-color: #1e96fc;

    --heading-font: 'Kanit', sans-serif;
    --paragraph-font: 'Libre-Franklin', sans-serif;

    --nav-bg-color: var(--secondary-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: var(--accent-color);
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
header{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 140px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
header img{
    margin: 0 .25rem 0 1rem;
    width: 120px;
    height: auto;
}
header nav{
    display: flex;
}
h1{
    font-family: 'Kanit', sans-serif;
    color: white;
    position: absolute;
    z-index: 1;
    margin-bottom: 50%;
    width: 78%;
    background-color: #242424a4;
}
h2{
    font-family: 'Karla', sans-serif;
    color: var(--accent-color);
    text-align: center;
}
p{
    font-family: 'Libre-Franklin', sans-serif;
}
article{
    width: 78%;
    position: absolute;
    color: white;
    background-color: #1ba4ff7a;
    border-color: #1ba4ff7a;
    border-radius: 20px;
    text-align: center;
}
span{
    display: inline-flex;
    text-align: center;
}
.pics{
    text-align: center;
    margin-left: -300px;
    /* margin-left: -50px; */
}
.pics h2{
    /* margin-left: 0px; */
    margin-left: 300px;
}
footer img{
    width: 40px;
    height: auto;
}
footer p{
    text-align: center;
}
footer nav{
    text-align: end;
}
footer{
    margin-right: -30%;
    margin-left: -30%;
    margin-top: 1100px;
    text-align: center;
    border-bottom: #ccc;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color: tomato;
    text-decoration: underline;
}
.hero{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -2;
}

.hero article img{
    width: 25%;
    height: auto;
    z-index: 2;
    float: right;
}
.hero h1{
    position: absolute;
    text-align: center;
}
.navigation{
    display: flex;
    list-style: none;
}
.navigation li{
    flex: 1 1 100%;
}
.navigation a{
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}
.navigation a:hover{
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}
.top, h1{
    background-color: rgba(0, 0, 0, 0);
    color: black;
}
.top, img{
    flex-wrap: wrap;
    float: right;
    width: 600px;
    height: auto;
}
table, th, td{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
}
table{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.top{
    display: flex;
    width: fit-content;
    margin-top: 70px;
}
.top-header{
    margin-left: 400px;
    margin-bottom: 50px;
}
.home{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.home h1{
    position: absolute;
    text-align: center;
    color: white;
    background-color: #004a8685;
    border-radius: 20px;
}
.home img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -2;
}
.newsletter{
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    font-family: 'Karla', sans-serif;
}
.newsletter fieldset{
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1rem;
}
.newsletter button{
    margin: 0 auto;
    background-color: navy;
    width: 30%;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
.newsletter button:hover{
    background-color: rgb(0, 118, 148);
}
.bottom{
    margin-top: -900px;
}