:root{
    --primary-color: #072ac8;
    --secondary-color: #a2d6f9;
    --accent-color: #1e96fc;

    --heading-font: 'Hello', kanit;
    --paragraph-font: 'Hello', libre-franklin;

    --nav-bg-color: var(--secondary-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: var(--accent-color);

    
}
body{
    font-family:var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-bg-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--primary-color);
    background-color: aqua;
}